@media screen and (min-width: 1080px) {

  .app-container {
    max-width: 1080px;
    margin: 0 auto;
  }
}

.social-media:hover svg {
  stroke: #00ff84;
  transform: translateY(-3px);
  transition: all .2s;
}